# VSCode settings
**/.vscode/*

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# terraform lock file
.terraform.lock.hcl

# keys
**/*.pem*

# auto.tfvars files used to specify user variables
**/*.auto.tfvars

# aws creds, if any
.aws
.env